services:
  step-ca:
    image: {{ step_ca_docker_docker_image }}
    container_name: {{ step_ca_docker_container_name }}
    user: "{{ step_ca_docker_uid }}:{{ step_ca_docker_gid }}"
    environment:
      - HOME=/home/step
      - STEPPATH=/home/step
      - DOCKER_STEPCA_INIT_NAME={{ step_ca_docker_init_name }}
      - DOCKER_STEPCA_INIT_DNS_NAMES={{ step_ca_docker_init_dns | join(",") }}
      - DOCKER_STEPCA_INIT_PASSWORD={{ step_ca_docker_init_password }}
      - DOCKER_STEPCA_INIT_ADDRESS={{ step_ca_docker_init_address | default(":8443") }}
      - DOCKER_STEPCA_INIT_ACME={{ step_ca_docker_init_acme | default(true) | lower }}
    volumes:
      - "{{ step_ca_docker_data_dir }}:/home/step"
    ports:
      - "{{ step_ca_docker_bind_port }}:{{ step_ca_docker_container_port }}"
    restart: {{ step_ca_docker_restart_policy }}
{% if step_ca_docker_dns_servers is defined and step_ca_docker_dns_servers | length > 0 %}
    dns:
{% for dns in step_ca_docker_dns_servers %}
      - {{ dns }}
{% endfor %}
{% endif %}
