services:
  step-ca:
    image: {{ stepca_docker_image }}
    container_name: {{ stepca_container_name }}
    user: "{{ stepca_uid }}:{{ stepca_gid }}"
    environment:
      - HOME=/home/step
      - STEPPATH=/home/step
      - DOCKER_STEPCA_INIT_NAME={{ stepca_init_name }}
      - DOCKER_STEPCA_INIT_DNS_NAMES={{ stepca_init_dns | join(",") }}
      - DOCKER_STEPCA_INIT_PASSWORD={{ stepca_init_password }}
      - DOCKER_STEPCA_INIT_ADDRESS={{ stepca_init_address | default(":8443") }}
      - DOCKER_STEPCA_INIT_ACME={{ stepca_init_acme | default(true) | lower }}
    volumes:
      - "{{ stepca_data_dir }}:/home/step"
    ports:
      - "{{ stepca_bind_port }}:{{ stepca_container_port }}"
    restart: {{ stepca_restart_policy }}
{% if stepca_dns_servers is defined and stepca_dns_servers | length > 0 %}
    dns:
{% for dns in stepca_dns_servers %}
      - {{ dns }}
{% endfor %}
{% endif %}
